.stack-work/*
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
TAGS
.ghc*
bench/*.html
report.html
examples/html
*.prof
*.hp
*.hpp
*.ps
*.aux
*.png
.DS_Store
.flat-kh-cache
stan+/*
stan.html
*.stan
*.hpp
output/*.csv
data/*.json
/*.html
/*.csv
/*.eventlog
/.hie/
